@import '../../../common/style/variable.css';
@import '../../../common/style/mixin.css';
@import '../../../common/style/animation.css';

$panel-title-height: 36px;
$panel-title-bgc: #f9f9f9;
$panel-logo-width: 16px;
$panel-title-text-margin: 6px;
$panel-content-item-height: 54px;
$panel-content-item-bgc-active: rgba(0, 0, 0, 0.03);

.captch-panel {
  .captch-panel-title {
    @include flex(row, center, center);
    width: 100%;
    height: $panel-title-height;
    text-align: center;
    background: $panel-title-bgc;
    .title-logo {
      display: block;
      width: $panel-logo-width;
      height: $panel-logo-width;
      background: url('../../../common/icon/calfic-shield.png');
      background-size: 100% 100%;
    }
    .title-content {
      width: auto;
      height: $panel-title-height;
      line-height: $panel-title-height;
      margin-left: $panel-title-text-margin;
      font-size: $fontsize-small;
      color: $color-green;
    }
  }
  .captch-panel-list {
    .captch-panel-item {
      @include flex(row, flex-start, flex-start);
      width: 100%;
      height: $panel-content-item-height;
    }
    .item-number {
      position: relative;
      flex-grow: 1;
      width: auto;
      height: $panel-content-item-height;
      line-height: $panel-content-item-height;
      font-size: $fontsize-large-xxx;
      color: $color-grey-dark-ss;
      text-align: center;
      background: $color-bg-white;
      &.bg-gray {
        background: $color-bg-grey;
      }
      &.item-icon-delete {
        @include flex(row, center, center);
        &:after {
          display: block;
          content: '';
          width: $panel-logo-width;
          height: $panel-logo-width;
          background: url('../../../common/icon/calfic-close-gray.png');
          background-size: 100% 100%;
        }
      }
      &:active {
        background: $panel-content-item-bgc-active;
      }
    }
  }
}
