@import '../../common/style/variable.css';
@import '../../common/style/mixin.css';
@import '../../common/style/animation.css';

$btn-radius: 4px;
$btn-opacity-active: 0.8;
$btn-opacity-disable: 0.5;
$btn-opacity-default: 1;
$btn-desc-color: rgba(255, 255, 255, 0.7);
$btn-bgc: linear-gradient(-270deg, #ff9155 0%, #fe7336 100%);
$btn-box-shadow-content: 0 3px 10px 0 rgba(255, 146, 80, 0.5);

.calf-button-content {
  font-size: $fontsize-large;
  color: $color-bg-white;
  line-height: $lineheight-large;
}
.calf-button-desc {
  font-size: $fontsize-small-s;
  line-height: $lineheight-small-s;
  color: $btn-desc-color;
}
.calf-button {
  box-sizing: border-box;
  display: block;
  width: $btn-width;
  height: $btn-height;
  line-height: $btn-height;
  color: $color-bg-white;
  font-size: $fontsize-large;
  text-align: center;
  background: $btn-bgc;
  border-radius: $btn-radius;
  &.has-box-shadow {
    box-shadow: $btn-box-shadow-content;
  }
  &:active {
    opacity: $btn-opacity-active;
  }
  &.calf-button-disabled {
    opacity: $btn-opacity-disable;
  }
  &.calf-button-minor {
    color: $btn-minor-color;
    border: 1px solid $btn-minor-color;
    background: $color-bg-white;
    border-radius: $btn-minor-radius;
    &.calf-button-invalid {
      color: $color-grey;
      border: 1px solid $color-grey;
      background: $color-bg-white;
      &:active {
        opacity: $btn-opacity-default;
      }
    }
  }
  &.calf-button-invalid {
    background: $color-grey;
    &:active {
      opacity: $btn-opacity-default;
    }
  }
  &.calf-button-inline {
    display: inline-block;
    width: $btn-inline-width;
    height: $btn-inline-height;
    line-height: $btn-inline-height;
  }
  .calf-button-icon-container {
    @include flex(row, center, center);
    .calf-button-icon {
      width: $btn-icon-width;
      height: $btn-icon-width;
      margin-right: $btn-icon-margin-right;
    }
  }
}

button {
  outline: none;
  border: none;
}
