@import './variable.css';
@import './mixin.css';
@import './calf-icon.css';
@import './animation.css';

body,
html {
  line-height: 1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  border: none;
}
