i {
  display: block;
  width: 14px;
  height: 14px;
}

.calfic-close {
  display: block;
  background: url("../icon/calfic-close-gray.png");
  background-size: 100% 100%;
}

.calfic-loading {
  display: block;
  background: url("../icon/calfic-button-loading.png");
  background-size: 100% 100%;
}
