$fontsize-large-xxxx: 30px;
$fontsize-large-xxx: 24px;
$fontsize-large-xx: 20px;
$fontsize-large-x: 18px;
$fontsize-large: 16px;
$fontsize-medium: 14px;
$fontsize-small: 12px;
$fontsize-small-s: 10px;

$lineheight-large: 24px;
$lineheight-medium: 20px;
$lineheight-small-s: 16px;

$radius-size-large: 8px;
$radius-size-medium: 6px;
$radius-size-small: 4px;
