@import '../var/color.css';

$btn-width: 100%;
$btn-height: 44px;
$btn-icon-width: 24px;
$btn-icon-margin-right: 10px;
$btn-inline-width: 120px;
$btn-inline-height: 32px;
$btn-minor-color: #f95c06;
$btn-minor-radius: 2px;

$captch-radius: 8px 8px 0 0;
$captch-title-width: 44px;
$captch-title-border: 1px solid #f1f1f1;
$captch-content-height: 280px;
$captch-header-color: $color-grey-dark-s;
$captch-header-margin-bottom: 8px;
$captch-header-color-orange: #f95c06;
$captch-input-item-width: 36px;
$captch-input-item-height: 45px;
$captch-input-item-fontsize: 32px;
$captch-input-item-margin: 12px;
$captch-forget-margin: 24px;

$dialog-width: 295px;
$dialog-bgc: $color-bg-white;
$dialog-line-color: $color-line-grey;
$dialog-radius: 8px;
$dialog-header-height: 44px;
$dialog-header-icon-close-width: 16px;
$dialog-content-padding-has-title: 20px 16px 28px 17px;
$dialog-content-padding-no-title: 0 16px 28px 17px;
$dialog-content-min-height: 68px;
$dialog-btns-height: 48px;
$dialog-btns-primary-padding-bottom: 24px;
$dialog-btn-bgc-active: rgba(0, 0, 0, 0.3);
$dialog-btn-fontsize: $fontsize-large;
$dialog-btn-cancel-color: #333333;
$dialog-one-btn-width: 180px;
$dialog-one-btn-height: 36px;
$dialog-btn-margin: 15px;
$dialog-btn-primary-width: 124px;
$dialog-btn-primary-height: 36px;
$dialog-btn-primary-fontsize: 16px;
$dialog-btn-primary-color: $color-bg-white;
$dialog-btn-primary-bgc: linear-gradient(-270deg, #fe7336 0%, #ff9155 100%);
$dialog-btn-primary-radius: 4px;

$switch-on-bgc: $color-orange;
$switch-off-bgc: $color-white;
$switch-off-border-color: #e4e4e4;
