@import '../common/style/variable.css';
@import '../common/style/mixin.css';

.calf-btns-default {
  @include flex(row, flex-start, center);
  width: 100%;
  height: $dialog-btns-height;
  border-top: 1px solid $dialog-line-color;
  border-radius: 0 0 $dialog-radius $dialog-radius;
  &.only-one-btn {
    .calf-button-default-confirm {
      border: 0;
      border-radius: 0 0 $dialog-radius $dialog-radius;
    }
  }
  .calf-dialog-button {
    &:active {
      background: $dialog-btn-bgc-active;
    }
  }
  .calf-button-default-cancel {
    box-sizing: border-box;
    display: block;
    width: 50%;
    height: 100%;
    font-size: $dialog-btn-fontsize;
    color: $dialog-btn-cancel-color;
    text-align: center;
    background: $dialog-bgc;
    border: 0;
    border-radius: 0 0 0 $dialog-radius;
  }
  .calf-button-default-confirm {
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    width: auto;
    height: 100%;
    font-size: $dialog-btn-fontsize;
    color: #f95c06;
    text-align: center;
    background: $dialog-bgc;
    border: 0;
    border-left: 1px solid $dialog-line-color;
    border-radius: 0 0 $dialog-radius 0;
  }
}

.calf-btns-primary {
  @include flex(row, center, flex-end);
  width: 100%;
  height: auto;
  padding-bottom: $dialog-btns-primary-padding-bottom;
  &.only-one-btn {
    .calf-btn-confirm {
      width: $dialog-one-btn-width;
      height: $dialog-one-btn-height;
      margin-left: 0;
    }
  }
  .calf-btn-confirm {
    margin-left: $dialog-btn-margin;
  }
  .calf-dialog-btn {
    width: $dialog-btn-primary-width;
    height: $dialog-btn-primary-height;
    line-height: $dialog-btn-primary-height;
    font-size: $dialog-btn-primary-fontsize;
    color: $dialog-btn-primary-color;
    background-image: $dialog-btn-primary-bgc;
    border-radius: $dialog-btn-primary-radius;
    border: 0;
  }
}
