@import '../common/style/variable.css';
@import '../common/style/mixin.css';
@import '../common/style/animation.css';

.calf-picker {
  width: 100%;
  height: 284px;
  background: $picker-bgc;
  .calf-picker-header {
    @include flex(row, space-between, center);
    width: 100%;
    height: 44px;
    border-radius: $picker-radius $picker-radius 0 0;
    border-bottom: 1px solid $color-line-grey;
    .calf-icon {
      @include flex(row, center, center);
      width: 44px;
      height: 44px;
      &:after {
        display: block;
        content: '';
        width: 12px;
        height: 12px;
        background: url('~/common/icon/calfic-close-gray.png');
        background-size: 100% 100%;
      }
    }
    .calf-title {
      width: auto;
      height: 44px;
      line-height: 44px;
      font-size: $picker-title-fontsize;
      color: $picker-title-color;
      text-align: center;
    }
    .calf-label {
      width: auto;
      height: 44px;
      line-height: 44px;
      font-size: $fontsize-large;
      color: $picker-label-right-color;
      padding-right: 16px;
    }
  }
  .calf-picker-content {
    position: relative;
    width: 100%;
    height: 240px;
    i {
      position: absolute;
      left: 0;
      width: 100%;
      height: 96px;
      z-index: 10;
      pointer-events: none;
    }
    .top-mask {
      top: 0;
      border-bottom: 1px solid $color-line-grey;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.8)
      );
    }
    .bottom-mask {
      bottom: 0;
      border-top: 1px solid $color-line-grey;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.8)
      );
    }
    .calf-picker-wraper {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: 100%;
      height: 240px;
      overflow: auto;
      div {
        flex: 1;
        flex-basis: 0.000000001px;
        width: 1%;
      }
    }
    .calf-picker-list {
      width: 100%;
      height: auto;
      margin-top: 96px;
      .calf-picker-item {
        width: 100%;
        height: 48px;
        line-height: 48px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        font-size: $picker-item-fontsize;
        color: $picker-item-color;
        text-align: center;
      }
    }
  }
}
