@import '../common/style/animation.css';
@import '../common/style/variable.css';

.calf-popup {
  z-index: 10000;
  &.calf-popup-loading .calf-popup-mask {
    background-color: $popup-mask-loading-bgc;
  }
  .calf-popup-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $popup-mask-bgc;
  }
  .calf-popup-content {
    font-size: $popup-content-fontsize;
    color: $popup-content-color;
  }
}

.calf-popup-center {
  .calf-popup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
}

.calf-popup-bottom {
  .calf-popup-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}

.calf-popup-dialog {
  .calf-popup-content {
    padding: 0;
    border-radius: $popup-content-dialog-radius;
  }
}

.calf-popup-toast {
  .calf-popup-content {
    padding: 0;
    border-radius: $popup-content-toast-radius;
  }
}
