@import '../../../common/style/variable.css';
@import '../../../common/style/animation.css';
@import '../../../common/style/mixin.css';

.calf-dialog {
  width: $dialog-width;
  height: auto;
  background: $dialog-bgc;
  border-radius: $dialog-radius;
  &.has-title {
    .calf-header {
      border-bottom: 1px solid #f1f1f1;
    }
    .calf-content {
      padding: $dialog-content-padding-has-title;
    }
  }
  .calf-header {
    position: relative;
    width: 100%;
    height: $dialog-header-height;
    line-height: $dialog-header-height;
    font-size: $fontsize-large;
    color: $color-grey-dark-ss;
    text-align: center;
    border-radius: $dialog-radius $dialog-radius 0 0;
    .icon-close {
      @include flex(row, center, center);
      position: absolute;
      top: 0;
      right: 0;
      width: $dialog-header-height;
      height: $dialog-header-height;
      &:after {
        content: '';
        display: block;
        width: $dialog-header-icon-close-width;
        height: $dialog-header-icon-close-width;
        background: url('~/common/icon/calfic-close-gray.png');
        background-size: 100% 100%;
      }
    }
  }
  .calf-content {
    box-sizing: border-box;
    width: 100%;
    min-height: $dialog-content-min-height;
    height: auto;
    font-size: $fontsize-medium;
    color: $color-grey-dark;
    line-height: $lineheight-medium;
    text-align: center;
    padding: $dialog-content-padding-no-title;
  }
}
